---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import ACGTabs from "@components/widget/ACGTabs.svelte";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const acgPost = await getEntry("spec", "acg");

if (!acgPost) {
	throw new Error("ACG page content not found");
}

const { Content } = await render(acgPost);

---
<MainGridLayout title={i18n(I18nKey.acg)} description={i18n(I18nKey.acg)}>
	<div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
		<div class="card-base z-10 px-9 py-6 relative w-full">
			<Markdown class="mt-2">
				<Content />
			</Markdown>
			<ACGTabs client:only="svelte" />
		</div>
	</div>
</MainGridLayout>
